In [193]:
import pandas as pd
import random as r
import math as m
import numpy as np
from datetime import datetime
from random import choice
from string import ascii_uppercase
from sklearn.model_selection import train_test_split as ts
from  sklearn.metrics.pairwise import pairwise_distances
from scipy.spatial import distance
from  sklearn.metrics.pairwise import pairwise_distances
import heapq
import itertools

Создание датасета

In [194]:
a = []
for i in range(1 , 10001):
    for j in range(10):
        a.append(i)
print(len(a))

100000

In [195]:
b = []
for i in range(10000):
    for j in range(1, 11):
        b.append(j)
print(len(b))

100000

In [196]:
c = ["5e5994d3da6bb300122c5a4a","5e5e5743ccb7de00197f8a6c","5e5e57b1ccb7de00197f8a74","5f149b69a0eff20018569dfd","5f47aad7a0eff20018580a68","5f5212cb67f1000011595736","5f52154d67f100001159574c","5f75a0d38e17a90018d0a709","5f75aabf8e17a90018d0a722","5f75b1cd8e17a90018d0a748","5f75bef18e17a90018d0a77b","5f75c5768e17a90018d0a78f","5f75ca2a8e17a90018d0a7a8","5f863dae8e17a90018d12b14","5f86a65a8e17a90018d12be2","5f86a80d8e17a90018d12bf6","5f86a9f48e17a90018d12c12","5f96c456e791b20019382f59","5f96c6cfe791b20019382f72","5fbfaaf102a7780018a6b5b7","5fc50c1f02a7780018a6b870","5feb2ae01aa3150018da5d46","5feb5f611aa3150018da663d","5feb63541aa3150018da6656","5feb68cb1aa3150018da66ae","5feb6e991aa3150018da673b","5feb71f11aa3150018da6903","5fec49c11aa3150018da83d8","6013e41838f27e0018c428c6","6013f52f38f27e0018c4290e","6041efa6eb3b4b00183fc102","60864800b286d7001830aa85","60864edab286d7001830aad0","60865942b286d7001830ab3a","60865ab3b286d7001830ab3e","60866247b286d7001830ab89","60866379b286d7001830ab9c","60ca1a5a1a4b0700192fcb02","60fa791047a72f00189f7d27","610162e647a72f00189fa773","6101be6f47a72f00189fa827","61025a551a4b07001932d468","6107b4a6f91b100018489bb8","6107e472f91b100018489bfb","6107fcd3f91b100018489c38","6123bdf4cb62990011cf06f4","6123cfc2cb62990011cf0704","614b5069d8740b00185e1d23","617146c153b83e0018a78db7","6197635f8db05de136c9863c","61976ee18db05de136ca14ab","619e35218db05de136e42772","61b1eed2c53ae811d6aaa2a8","61cc55622d49e6f7fa75897a","61dff51883343c163e2d30ce","61e026c783343c163e2f7e51","61e02a1283343c163e2f9067","61e13a862d49e6f7fae210f9","61e97c372d49e6f7fa0b731c","61ea63e82d49e6f7fa0eedd8","61ea83ae2d49e6f7fa0fb64d","61f249712d49e6f7fa3ead8d","61f24cf02d49e6f7fa3ebbe3","61f24efb2d49e6f7fa3ebf15","61f2ec6b2d49e6f7fa42fc9e","61f2eeb12d49e6f7fa43000a","62038506a70b798fc9d39103","62039dfea70b798fc9d45f39","6203d115a70b798fc9d6a837","6203d470a70b798fc9d70a70","6203f151a70b798fc9d93c3e","6204c7bda70b798fc9dbbe0b","6204ce87a70b798fc9dbcdbc","620e32d79480ec8db06d015a","620e3ef79480ec8db06d42ce","6233f16e994c9997314d782d","62340c08994c9997314d99f4","6241bcd598e199bbd324662c","62442517994c9997317c8340","624430c6994c9997317cea0a","62459f5f994c99973184f8ab","6245bb95994c999731873efa","6245bec9994c999731878ba7","6245c01b994c99973187a384","6245c18d994c99973187ba38","6246b1b4994c9997318ea124","624d886b8ee45eeeba8aa628","624d8aa58ee45eeeba8ab195","624d8e938ee45eeeba8af02f","624d9f568ee45eeeba8b474d","624ef2fb086ea228f60fd946","626020c337248b4967e2c5ac","62bd828737e5f4efd43558b7","62d68567518a33a2a8e9cc5b","62d69763518a33a2a8ea420e","62fe000d71b9411345cdd121","62fe017071b9411345ce0a1c","62fe02af71b9411345ce2d1f","62fe05b971b9411345ce7b96","62fe072071b9411345cea048","62fe087771b9411345ceaa90","62fe0a1871b9411345ced920","62fe0ce771b9411345cee0e0","6311cf59b83c398263069127","6311d0eeb83c39826306a0a2","6311d32cb83c39826306aee6","6311d472b83c39826306b148","6389d5c9810482a5a14a4e24","6389d83d810482a5a14a7008","6389d988810482a5a14a77a1","6389dade810482a5a14a805e","6389dbcb810482a5a14a8af9","6389dca1810482a5a14a91db","6389dd93810482a5a14a94cc","63e611eb88c02c9c0104b73d","63e616b388c02c9c0104ccd7","64195077496364042defbe4d","64195a35496364042df02111"]
d = []
for i in range(10000):
    # for j in range(1,11):
        d.append([c[r.randint(0,len(c) - 1)]for n in range(10)])
d = list(itertools.chain.from_iterable(d))

In [197]:
user_actions = {'user_id': [i for i in a],
                    'metric' : [i for i in b],
#   'date_action': [datetime.fromtimestamp(r.randint(1684954360, 1684954360 + 3*24*60*60)) for i in range(100000)], 
# 'metric_name' : ['excursions_type1_viewed', 'excursions_type2_viewed', 'excursions_type3_viewed', 
#                  'excursions_type1_added', 'excursions_type2_added', 'excursions_type3_added']
#  'excursions_type1_added': [r.randint(0,10) for i in range(100000)],
 'metric_value' : [r.randint(0, 10) for i in range(100000)]
#  ,'purchased_tour' : [i for i in d]
 }

user_tours = {'user_id': [i for i in a],
'purchased_tour' : [i for i in d]
 }
user_tours = pd.DataFrame.from_dict(user_tours, orient='index')
user_tours = user_tours.T
user_tours.head()

  user_id            purchased_tour
0       1  5feb2ae01aa3150018da5d46
1       1  6041efa6eb3b4b00183fc102
2       1  62bd828737e5f4efd43558b7
3       1  60866379b286d7001830ab9c
4       1  6204c7bda70b798fc9dbbe0b

Обработка параметров

In [198]:
agr_user_actions = pd.DataFrame.from_dict(user_actions, orient='index')
agr_user_actions.head()

,0,1,2,3,4,5,6,7,8,9,...,99990,99991,99992,99993,99994,99995,99996,99997,99998,99999
user_id,1,1,1,1,1,1,1,1,1,1,...,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
metric,1,2,3,4,5,6,7,8,9,10,...,1,2,3,4,5,6,7,8,9,10
metric_value,6,10,5,9,1,4,1,8,7,2,...,2,10,7,5,3,8,6,0,2,1

In [199]:
agr_user_actions = agr_user_actions.T
agr_user_actions = agr_user_actions[['user_id', 'metric', 'metric_value']]
agr_user_actions.head()

   user_id  metric  metric_value
0        1       1             6
1        1       2            10
2        1       3             5
3        1       4             9
4        1       5             1

In [200]:
agr_user_actions =  agr_user_actions.sort_values(['user_id', 'metric'], ascending=True)

Создание тестовой и тренировочной выборок

In [201]:
train_data, test_data = ts(agr_user_actions, test_size=0.2)

In [202]:
n_users = len(agr_user_actions['user_id'].unique())
n_metrics = len(agr_user_actions['metric'].unique())

In [203]:
agr_user_actions_matrix = np.zeros((n_users, n_metrics))
for line in train_data.itertuples():
    agr_user_actions_matrix[line[1] - 1, line[2] - 1] = line[3]
    
test_data_matrix = np.zeros((n_users, n_metrics))
for line in test_data.itertuples():
    test_data_matrix[line[1] - 1, line[2] - 1] = line[3]

Скалярное произведение векторов для определения степени схожести пользователей

In [204]:

# считаем косинусное расстояние для пользователей и фильмов 
# (построчно и поколоночно соотвественно).
user_similarity = pairwise_distances(agr_user_actions_matrix, metric='cosine')
item_similarity = pairwise_distances(agr_user_actions_matrix.T, metric='cosine')

Принимает на вход матрицу с косинусными расстояниями и user_id нужного пользователя, выдает топ 20 user_id с которыми схож укзанный user_id

In [205]:
def get_similar_users(user_id):
    current_user = user_similarity[user_id].tolist()
    user_sim_list = heapq.nsmallest(20, current_user)
    id_sim_user = []
    for score in user_sim_list:
      index = current_user.index(score)
      id_sim_user.append(index)   
    return id_sim_user[1:]

In [206]:
def uniq_tour(user_id):
  a = get_similar_users(user_id)
  recom_tours = [user_tours.purchased_tour[a[0]]]
  for i in a[1:]:
    if len(recom_tours) < 6:
      if user_tours.purchased_tour[i] not in recom_tours:
        recom_tours.append(user_tours.purchased_tour[i])
    else:
      return recom_tours

In [207]:
print(agr_user_actions.metric_value[520])

2

In [208]:
agr_user_actions[agr_user_actions['user_id'] == 4418]

       user_id  metric  metric_value
44170     4418       1             9
44171     4418       2             3
44172     4418       3             6
44173     4418       4             2
44174     4418       5             8
44175     4418       6             0
44176     4418       7             3
44177     4418       8             3
44178     4418       9             7
44179     4418      10             8

In [209]:
get_similar_users(1)

[9341,
 8763,
 8741,
 7658,
 1789,
 8705,
 1004,
 4853,
 3789,
 3050,
 7745,
 446,
 7908,
 8,
 8426,
 4130,
 6870,
 139,
 2217]

In [210]:
uniq_tour(1)

['6245c18d994c99973187ba38',
 '60ca1a5a1a4b0700192fcb02',
 '6389dade810482a5a14a805e',
 '6311d0eeb83c39826306a0a2',
 '624430c6994c9997317cea0a',
 '626020c337248b4967e2c5ac']